[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dn404"]
	path = lib/dn404
	url = https://github.com/vectorized/dn404
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
